.App {
    display: grid;
    justify-content: center;
    text-align: center;
}

.button {
    width: 50px;
    border-radius: 10px;
    height: 30px;
    background-color: powderblue;
}

.button:hover {
    background-color: coral;
}

.input {
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
    text-align: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.inputA {
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
    text-align: center;
    color: red;
}